.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .painel {
    display: flex;
    width: 78%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    padding: 2rem 1rem;
    height: 75vh;
    border-left: 2px solid var(--gray-700);

    .userContainer {
      display: flex;
      justify-items: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;
    }

    .noProjectContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-right: 22%;
      margin-top: 5rem;

      p {
        font-size: var(--details);
        color: var(--gray-400);
      }
    }

    .cardContainer {
      gap: 1rem;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18.75rem, 350px));
      width: 100%;
      max-height: 100%;

      .card {
        background-color: var(--gray-700);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;

        &:last-child {
          justify-content: center;
          align-items: center;
        }

        .titleContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          border-bottom: 1px solid var(--yellow);
          width: 100%;
        }

        .descriptionContainer {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;
          border-bottom: 1px solid var(--yellow);
        }
        .experiencesContainer {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;
          border-bottom: 1px solid var(--yellow);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    min-height: 100%;
    .painel {
      width: 100%;
      border-left: none;
      border-top: 2px solid var(--gray-700);
      padding: 2rem 1rem;
      height: 100%;
      gap: 2rem;

      .userContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }

      .noProjectContainer {
        margin-right: 0;
      }
    }
  }
}
