.mainWrapper {
  max-width: 75%;
  margin-inline: auto;
  padding: 2rem;
  height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    h1 {
      margin-bottom: 2rem;
      color: var(--gray-100);
    }

    .spinner {
      margin-bottom: 1rem;
    }

    p {
      color: red;
      margin-bottom: 2rem;
      text-align: justify;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.8125rem;
      padding: 2rem 1rem;

      border-radius: 10px;
      max-width: 547px;

      input {
        border-radius: 5px;
        padding: 1rem 0.5rem;
        width: 100%;
        border: none;
        background-color: var(--gray-100);
        outline: none;

        &::placeholder {
          padding: 1rem;
        }
      }

      button {
        padding: 1rem 14rem;
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
        border: none;
        background-color: var(--yellow);

        font-weight: 600;
        font-size: 20px;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(1.2);
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
      }

      p {
        color: red;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mainWrapper {
    max-width: 100%;
    padding: 0 2rem;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .mainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.8125rem;
        padding: 2rem 1rem;

        border-radius: 10px;
        max-width: 400px;

        input {
          border-radius: 5px;
          padding: 1rem 0.5rem;
          width: 100%;
          border: none;
          background-color: var(--gray-100);
          outline: none;

          &::placeholder {
            padding: 1rem;
          }
        }

        button {
          padding: 1rem 6rem;
          display: flex;
          justify-content: center;
          width: 100%;
          border-radius: 5px;
          border: none;
          background-color: var(--yellow);

          font-weight: 600;
          font-size: 20px;
          transition: filter 0.2s;
        }
      }
    }
  }
}
