.headerWrapper {
  border-bottom: 2px solid var(--gray-600);
  padding: 2rem 0;

  .headerContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span {
      font-size: var(--header);
      font-weight: bold;
      white-space: nowrap;
    }

    a {
      font-size: var(--body-text);
      color: var(--gray-900);
      background-color: var(--yellow);
      padding: 0.5rem 2rem;
      border-radius: 10px;
      transition: color 0.2s;

      font-weight: bold;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}
