.wrapper {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;

  h3 {
    font-size: var(--title);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    li {
      background-color: var(--yellow);
      color: var(--gray-900);
      font-size: var(--details);
      border-radius: 10px;
      max-width: 200px;
      width: 100%;
      text-align: center;
      cursor: pointer;

      &:hover {
        filter: brightness(1.2);
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        width: 100%;
        padding: 0.5rem 0rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }

  .menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .menuIcon {
    background: none;
    border: none;
    cursor: pointer;

    .menuMobileTitle {
      font-size: var(--title);
      color: var(--gray-100);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    display: none; // Inicialmente oculto
  }

  .menu--open {
    display: flex; // Exibido quando a classe .menu--open é aplicada
  }

  .menu li {
    a {
      padding: 0.5rem 1rem;
    }
  }
}
